<div class="login-container">
  <h4>Register</h4>
  <form>
      <ion-list>
        <ion-item>
          <ion-input label="Email" labelPlacement="stacked" placeholder="" #email required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Password" type="password" labelPlacement="stacked" placeholder="" #password required></ion-input>
        </ion-item>
        <br>
        <ion-button type="submit" (click)="handleOnSubmitForm(email, password)">Register</ion-button>
      </ion-list>
  </form>
  <p>Or</p>
  <ion-button (click)="handleLoginClick()">Login</ion-button>
</div>