<ion-header>
  <ion-toolbar>
    <div class="app-header">
      <ion-title>
        {{title}}
      </ion-title>
      <div class="more-options-wrapper">
        <ion-button size="small" fill="outline" (click)="presentPopover($event)">
          <ion-icon name="menu-outline"></ion-icon>
        </ion-button>
        <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
          <ng-template>
            <ion-content class="ion-padding">
              <div class="user-info" style="text-align: center;">
                  <ion-avatar style="display: inline-block; margin: 0 auto;">
                    <img alt="Silhouette of a person's head" [src]="userDetails?.photoURL ? userDetails?.photoURL: dammyAvatar" />
                  </ion-avatar>
                  <p>{{userDetails?.displayName}}</p>
                  <p>{{userDetails?.email}}</p>
              </div>
              
              <ion-button (click)="handleSignOut()"  color="danger" expand="full">
                  Logout
              </ion-button>
              
            </ion-content>
          </ng-template>
        </ion-popover>
      </div>
    </div>
  </ion-toolbar>
</ion-header>