.main-container{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    .form-container{
        max-width: 400px;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
    }
}
