<app-app-header title="Create post"></app-app-header>

<ion-content [fullscreen]="true">
 <div class="main-container">
  <div class="form-container">
      <form (ngSubmit)="onSubmitPost(title, body)">
          <ion-list>
            <ion-item>
              <ion-input labelPlacement="stacked" #title placeholder="Title"></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea
              #body
              placeholder="Post details"
              [clearOnEdit]="true"
              rows="10"
            ></ion-textarea>
            </ion-item>
            <br>
            <ion-button type="submit">Create</ion-button>
          </ion-list>
      </form>
  </div>
 </div>
</ion-content>
