<app-app-header title="Create post"></app-app-header>

<ion-content [fullscreen]="true">
 <div class="main-container">
  <div class="form-container">
      <form>
          <ion-list>
            <ion-item>
              <ion-input label="Title" labelPlacement="stacked" #email placeholder=""></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea
                placeholder="Post details"
                value=""
              >
              </ion-textarea>
            </ion-item>
            <br>
            <ion-button>Create</ion-button>
          </ion-list>
      </form>
  </div>
 </div>
</ion-content>
