  <div class="main-container">
    <div class="slider-container">
      <div class="swiper-wrapper">
          <swiper-container [loop]="true" [config]="swiperConfig" class="swiper-container">
            <swiper-slide>
              <img src="https://png.pngtree.com/png-vector/20220921/ourmid/pngtree-welcome-text-effect-with-colorful-heart-shaped-png-image_6208004.png" alt="">
            </swiper-slide>
            <swiper-slide>Slide 2</swiper-slide>
            <swiper-slide>Slide 3</swiper-slide>
          </swiper-container>
      </div>
    </div>



    <p class="message" *ngIf="message">{{message}}</p>
    
    <div *ngIf="isLogin; else elseBlock">
      <app-login (toggleRegister)="toggleRegister()" (handleLogin)="handleLogin($event)"></app-login>
    </div>
    <ng-template #elseBlock>
      <app-register (toggleRegister)="toggleRegister()" (onSubmitRegister)="onSubmitRegister($event)"></app-register>
    </ng-template>



    <!-- <ion-button (click)="googleLogin()">Login with google</ion-button> -->
  </div>  
