  
  
  <ion-content>
    <div class="main-container">
      <div class="logo-container">
        <img src="assets/icon.png" alt="">
      </div>
      <p class="message" *ngIf="message">{{message}}</p>
      
      <div *ngIf="isLogin; else elseBlock">
        <app-login (toggleRegister)="toggleRegister()" (handleLogin)="handleLogin($event)"></app-login>
      </div>
      <ng-template #elseBlock>
        <app-register (toggleRegister)="toggleRegister()" (onSubmitRegister)="onSubmitRegister($event)"></app-register>
      </ng-template>
  
    </div>  
  </ion-content>
