.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
    padding: 15px;
    overflow: auto;
    .message{
        max-width: 400px;
        text-align: center;
    }
    .slider-container{
        max-width: 400px;
        width: 100%;
        .swiper-wrapper{
            display: flex;
            align-items: center;
            height: 100%;
            .swiper-container{
                width: 100%;
            }
        }
    }
}
