.single-post-container{
    text-align: center;
    padding-bottom: 10px;
}
.update-form-container{
    text-align: center;
}

.title-style{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* Number of lines to display */
    -webkit-line-clamp: 2;
    /* Height of each line */
    line-height: 1.5; /* Adjust as needed */
    min-height: 60px;
}